/* Fondo con degradado */
body {
    font-family: Arial, sans-serif;
    background-image: linear-gradient(180deg, #40008c, #6900aa, #9100c9, #ba00e9);
    color: #fff;
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.cv-container {
    max-width: 900px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    background: #222;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.cv-grid {
    display: flex;
    flex-direction: row;
    gap: 20px; 
    display: flex;
    flex-direction: row;
}

/* Panel Izquierdo */
.left-panel {
    background: #fff;
    color: #333;
    padding: 20px;
    width: 35%;
    text-align: center;
}

.profile-img {
    width: 150px;
    height: 150px; /* Asegura que sea un cuadrado */
    border-radius: 50%; /* Hace que sea un círculo */
    object-fit: cover; /* Ajusta la imagen dentro del contenedor */
}

.profile-name {
    font-size: 22px;
    font-weight: bold;
}

.profile-role {
    font-size: 16px;
    color: #555;
    font-weight: bold;
}

/* Contacto */
.contact-section p {
    margin: 5px 0;
    font-size: 14px;
}

/* Sección de habilidades */
.skills-section ul,
.languages-section ul {
    list-style: none;
    padding: 0;
}

.skills-section li,
.languages-section li {
    font-size: 14px;
    margin: 5px 0;
}

/* Panel Derecho */
.right-panel {
    width: 65%;
    padding: 20px;
}

.separator{
    border: none;
    height: 2px;
    background-image: linear-gradient(180deg, #40008c, #6900aa, #9100c9, #ba00e9)}

/* Secciones */
.experience-section,
.education-section {
    margin-bottom: 20px;
}

.experience-item,
.education-item {
    margin-bottom: 15px;
}

.date {
    font-size: 14px;
    color: #bbb;
}


.btn {
    display: inline-block;
    padding: 10px 15px;
    background: #ba00e9;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.btn:hover {
    background: #6a21c1;
    box-shadow: #39007D 0px 0px 10px;

}

/* Estilo para el título de la sección de proyectos */
.section-title {
    text-align: center; 
    font-size: 50px; 
    margin-top: 80px; /* Espacio superior */
    margin-bottom: 40px;
    text-shadow: #39007D 3px 3px 10px;
}

/* Estilo para la sección de proyectos */
.projects-section {
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 20px;
    background-color: #fff;
    color: #333;
    display: flex;
    flex-direction: row; /* Disposición en fila */
    justify-content:center;
    gap: 40px;
    align-items: center;
    box-shadow: #222 0px 0px 10px;
    border-radius: 10px;
    max-width: 1200px;
}

/* Estilo para los elementos individuales de cada proyecto */
.project-item {
    color: #333; /* Color del texto */
    text-align: center; /* Centrado del texto */
    max-width: 300px; /* Limita el ancho de cada item */
    width: 100%; /* Asegura que el item no se desborde */
    box-sizing: border-box; /* Asegura que padding no afecte el tamaño */
}

.hackathon-section {
    margin: 0 auto;
    margin-bottom: 80px;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: row; /* Disposición en fila */
    justify-content:center;
    gap: 40px;
    align-items: center;
    border-radius: 10px;
    text-align: center; /* Centrado del texto */
    max-width: 300px; /* Limita el ancho de cada item */
    width: 100%; /* Asegura que el item no se desborde */
    box-sizing: border-box; /* Asegura que padding no afecte el tamaño */
}
.profile-description p{
    text-align: justify;
}

.hackathon2025-img{
    width: 300px;
    height: 150px; /* Asegura que sea un cuadrado */
    border-radius: 30px; /* Hace que sea un círculo */
    object-fit: cover; /* Ajusta la imagen dentro del */
}

/* Footer */
.cv-footer {
    text-align: center;
    padding: 15px;
    background: #39007D ;
    box-shadow: #000 0 0 10px ;
    border-top-left-radius: 8%;
    border-top-right-radius: 8%;

}

.social-icons i {
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
}

    /* Responsive */
@media screen and (max-width: 768px) {
    .cv-grid {
        flex-direction: column;
    }
    .left-panel {
        width: 100%;
    }
    .right-panel {
        width: 100%;
    }
}
